

nav{
    width: auto;
    height: 50px;
    margin: 0px 0px;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav div{
    width: auto;
    height: 350px;
}
.nav1 a{
    color: rgb(247, 84, 179);
    text-decoration: none;
    
    margin: 10px;
}
.nav2 button {
    margin-right: 25px;
    padding: 5px 15px ;
    background-color: white;
    color: rgb(74, 147, 255);
}
.nav2 :hover
{
  border: white;
  border: 10px;;
}
